/* - - - Fonts - - - */
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand');

/* - - - Colors - - - */
$colorFooter: #353535;
$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;