/* - - - Search Bar - - - */
.searchBar {
    @include centerElement;
    height: 50px;
    color: #353535;
    cursor: text;

    &__icon {
        margin-right: 1em;
    }

    &__text {
        font-weight: 500;
        font-family: "Roboto", sans-serif;
    }
}

/* - - - Description - - - */
.description {
    background: #f6f6f6;
    padding: 45px 2em 57px 2em;
    font-family: "Roboto", sans-serif;
    text-align: center;

    &__title {
        @include titles;
    }

    &__text {
        font-size: 1.125em;
        font-weight: 300;
        margin: 1em 0 2em 0;
    }

    &__button {
        font-size: 1.1em;
        background-image: linear-gradient(355deg, $colorPrimary, $colorSecondary);
        padding: 1em 1.5em;
        border-radius: 30px;
        color: white;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        cursor: pointer;
        transition: all .25s ease;
    }

    &__button:hover {
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
        filter: brightness(1.1);
    }
}
/* - - - Explaination - - - */
.explaination{
    font-family: "Roboto", sans-serif;
    margin: 50px 5%;

    &__title{
        @include titles;
    }

    &__card{
        display: flex;
        align-items: center;
        position: relative;
        margin: 25px 0 25px 12px;
        padding: 25px 0;
        border-radius: 24px;
        box-shadow: 0.25rem 0.25rem 10px #e4e4e4;
        background: white;
        cursor: pointer;
        transition: all .25s ease;

        &__icon{  
            color: #7e7e7e;
            margin: 0 20px 0 32px;
            width: 20px;
            @include centerElement;
            display: flex !important;
            transition: all .25s ease;
        }

        &__text{
            color: black;
            font-size: 14px;
            font-weight: 600;
        }

        &__step{
            position: absolute;
            @include centerElement;
            left: -12px;
            top: 22px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $colorPrimary;
            color: white;
            font-size: 12px;
        }

        &:hover{
            background: #f5edff;
        }
        &:hover &__icon{
            color: $colorPrimary;
        }
    }
}

/* - - - Restaurants - - - */
.restaurants{
    background: #f6f6f6;
    padding: 55px 5%;
    font-family: "Roboto", sans-serif;

    &__title{
        @include titles;
        margin-bottom: 25px;
    }

    &__card{
        border-radius: 20px;
        box-shadow: 0.25rem 0.25rem 10px #e4e4e4;
        margin-bottom: 18px;
        &__image{
            height: 175px;
            object-fit: cover;
            object-position: center;
            width: 100%;
            border-radius: 20px 20px 0 0;
        }

        &__description.cards{
            padding: 20px 14px;
            position: relative;

            .cards__title{
                font-size: 18px;
                font-weight: bold;
            }
            .cards__sub{
                margin-top: 5px;
                font-size: 17px;
            }

            & .fa-heart{
                position: absolute;
                right: 8%;
                top: 30px;
                font-size: 20px;
            }

            & .fas{
                background: linear-gradient(190deg, $colorPrimary, $colorSecondary);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                z-index: 1;
                animation: popin .5s ease both;
                animation-play-state: paused;
            }
            & .far:active ~ .fas,
            & .fas:active{
                animation-play-state: running;
            }
        }
    }
}